@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row">

        <div class="col-lg-3">


            <div class="list-group">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Kiralik">Kiralık Araçlar</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Satilik">Satılık Araçlar</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->



    </div>
    <!-- /.row -->

</div>
